<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="logo">blog</h1>

    <h2 class="logo2">Обзор игры дота 2</h2>
    <div class="text">
        Dota 2 — компьютерная многопользовательская командная игра жанра стратегия в реальном времени с элементами компьютерной ролевой игры, реализация известной карты DotA для игры Warcraft III в отдельном клиенте.

В игре участвуют две команды по пять человек. Одна команда играет за светлую сторону, другая — за темную. Каждый игрок управляет одним героем, каждый из которых обладает особыми навыками и умениями. Герой может получать опыт для повышения своего уровня, зарабатывать золото, покупать и собирать предметы, которые усиливают его или дают дополнительные способности. Каждый игрок постоянно получает небольшое количество золота от своей базы, а также зарабатывает небольшие порции золота за убийство вражеских существ и большие — за убийство героев. Команды рассредотачиваются по линиям, на которых происходит борьба с вражескими героями и отрядами крипов под управлением компьютера, которые каждые полминуты появляются на базах команд. Цель игры — уничтожить главное здание на вражеской базе.
    </div>
    <button><a href="{%url 'state' %}">нажмите для подробной информации</a></button>
    <style>
        *{
          margin: 0;
          padding: 0;
          background-color: black;
          color:white;
        }
    </style>
</body>
</html>